@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
:root {
  --azul-1: rgb(80, 129, 160);
  --azul-2: rgb(54, 108, 136);
  --azul-3: rgb(54, 90, 109);
  --marsala-1: rgb(177, 108, 105);
  --marsala-2: rgb(156, 92, 106);
  --marsala-3: rgb(123, 74, 85);
  --cinza-1: rgb(207, 207, 207);
  --cinza-2: rgb(123, 123, 122);
  --cinza-3: rgb(88, 88, 87);
}
#root,
html,
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-weight: 800;
  font-size: 20pt;
}
h2 {
  font-weight: 700;
  font-size: 13pt;
}
h3 {
  font-weight: 700;
  font-size: 12pt;
}
p {
  font-weight: 400;
  font-size: 10pt;
}
label {
  font-family: "Open Sans";
  font-size: 13pt;
  font-weight: bold;
  color: var(--marsala-2);
}

button {
  padding: 10px;
  font-family: "Open Sans";
  font-size: 11pt;
  font-weight: 400;
  border: none;
  text-align: left;
  width: 100px;
  color: white;
}

.primario {
  background-color: var(--azul-1);
}
.primario:hover {
  background-color: var(--azul-2);
}
.secundario {
  background-color: var(--marsala-1);
}
.secundario:hover {
  background-color: var(--marsala-2);
}
.info {
  background-color: var(--cinza-1);
  color: var(--cinza-2);
}
.info:hover {
  background-color: var(--cinza-2);
  color: var(--cinza-1);
}

select,
input[type="text"],
input[type="tel"],
input[type="email"] {
  height: 35px;
  border: 1px solid var(--cinza-1);
}
input[type="text"]::placeholder {
  font-family: "Open Sans";
  font-size: 10pt;
}
input:focus {
  border: 1px solid var(--azul-1);
  outline: none;
}

.alert {
  z-index: 1000;
  position: fixed;
  top: 100px;
  right: 15px;
  height: 35px;
  padding: 10px;
  font-size: 11pt;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.close-alert {
  padding-left: 20px;
  font-family: "Open Sans";
  font-size: 20pt;
  font-weight: 200;
  border: none;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}
.alert-error {
  background-color: var(--marsala-2);
}
.alert-warning {
  background-color: rgb(226, 221, 45);
  color: var(--cinza-2);
}

.alert-success {
  background-color: rgb(40, 160, 88);
}
.alert-info {
  background-color: var(--azul-1);
}
